body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  background-color: #57564F;
  color: black;
  font-family: Arial, sans-serif;
}

.Menu {
  display: flex;
  flex-direction: column;
  align-items: center;    
}

.gifContainer {
  display: flex; 
  gap: 700px;
}

.cardLeft {
  position: fixed;
  top: 0;
  left: 0;   
  width: 250px;
  background-color: #7A7A73;
  border: 3px solid black;
  border-radius: 8px;
  padding: 15px;
  margin: 70px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);  
  align-items: center; 
  text-align: center;  
}

.cardLeft h3 { 
  font-size: 30px;
}

.title {
  font-family:'Orbitron', sans-serif;
  font-size: 60px;
  margin-bottom: 20px;
}


#playButton, #mainCard {
  padding: 20px 205px;
  margin: 10px;
  font-size: 30px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #7A7A73;
  color: white;
  transition: 0.2s;
  border: 3px solid black;
}

#playButton:hover {
  background-color: #F8F3CE;
  color: black;
}

#mainCard:hover {
  background-color: #F8F3CE;
  color: black;
}

#loader {
  background-color: #57564F;
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display:none; 
  text-align:center; 
  color:white; 
  font-family:'Orbitron', sans-serif;
}

#loader h2 {
  font-size: 70px;
}
#loader p {
  font-size: 20px;
  color: black;
}

#progress {
  width:300px; 
  height:15px; 
  background:#333; 
  margin:auto; border-radius:10px; 
  overflow:hidden;
}

#bar {
  width:0%;
  height:100%; 
  background:limegreen; 
  transition:width 0.3s ease;
}