body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  background-color: white;
  color: black;
  font-family: Arial, sans-serif;
}

.Menu {
  display: flex;
  flex-direction: column;
  align-items: center;    
}

.title {
  font-size: 60px;
  margin-bottom: 20px;
}


#playButton {
  padding: 10px 25px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: grey;
  color: white;
  transition: 0.2s;
}

#playButton:hover {
  background-color: rgb(185, 185, 185);
  color: black;
}