body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  background-color: white;
  color: black;
  font-family: Arial, sans-serif;
}

.Menu {
  display: flex;
  flex-direction: column;
  align-items: center;    
}

.title {
  font-size: 60px;
  margin-bottom: 20px;
}


#playButton {
  padding: 10px 25px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: grey;
  color: white;
  transition: 0.2s;
}

#playButton:hover {
  background-color: rgb(185, 185, 185);
  color: black;
}

#loader {
  background-color: grey;
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display:none; 
  text-align:center; 
  color:white; 
  font-family:'Orbitron', sans-serif;
}

#loader h2 {
  font-size: 70px;
}

#progress {
  width:300px; 
  height:15px; 
  background:#333; 
  margin:auto; border-radius:10px; 
  overflow:hidden;
}

#bar {
  width:0%;
  height:100%; 
  background:limegreen; 
  transition:width 0.3s ease;
}