body {
    background-image: url("public/background.png");
    background-size: cover;
}

#canvas1 {
 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 600px;
    background-image: url("public/Paths.png");
    font-family: 'Orbitron', sans-serif;

    box-shadow: 0 0 14px rgba(153, 255, 0, 0.05);
}

.orbitron-font {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}